@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1458397642'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1458397642#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1458397642') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1458397642') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1458397642#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gengduo:before { content: "\e617"; }

body,ul,li,h1,h2,h3,h4,h5,h6{margin:0px;padding: 0;font-family:'微软雅黑';background-color: #F4F4F4}
#toudaohang{width: 100%;height: 86px;background-color: #1A6BA0;position: relative;}
.logo{display: block;margin:auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.lanmu1{width: 33%;height: 86px;margin: 0 auto;line-height: 86px;margin:0 auto;margin-left: 25%;float: left;background-color: #1A6BA0}
.lanmu1 li,.lanmu2 li{float: left;font-size: 18px;margin-right: 100px;cursor: pointer;background-color: #1A6BA0}
.lanmu2 li:hover{color: red}
.lanmu1 li:hover{color: red}
.lanmu2{width: 42%;height: 86px;margin: 0 auto;line-height: 86px;margin:0 auto;float: left;background-color: #1A6BA0}
.gengduo{width: 86px;height: 86px;float: right;line-height: 86px;display: none;cursor: pointer;}
.gengduo .iconfont{color: white;height: 86px;line-height: 86px;}
.gengduoul{width: 150px;height: 200px;background-color: #323232;position: absolute;top: 86px;right: 0px;display: none;z-index: 100}
.gengduoul li{width: 150px;height: 50px;text-align: center;line-height: 50px;font-size: 18px;cursor: pointer;}
.gengduoul li:hover{background-color: #675858;color: red}
.yilou{overflow: hidden;width: 100%;height: 600px;position: relative;}
.yilou span{display: block;position: absolute;left: 25%;top: 30%;width: 50%;height: 20%;text-align: center;font-size:46px;color: #24354C}
.imgbox{width: 200%;height:100%;overflow: hidden;transition:all 1.5s ease;}
.imgbox img{width: 50%;float: left;height: 100%}
.erlou{width: 100%;height: 400px}
.erloubox{width: 100%;height: 100%;margin: 0 auto;}
.erlou .jutijianjie{color: black;font-size: 22px;display: block;width: 60%;float: left;}
.zipai{width: 30%;height: 100%;border:1px solid black;float: right}


.sanlou{width: 100%;height: 600px;}
.sanloubox{width: 100%;height: 100%;margin: 0 auto;}
.jingli,.jineng,.jianjie{color:black;font-weight:bold;font-size: 30px;margin-top: 5%;display: block;}
.jutijingli,.jutijineng,.jutijianjie{color: black;font-size: 22px;}
.silou{width: 100%;height: 600px;}
.siloubox{width: 100%;height: 100%;margin: 0 auto;}
.container .post {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
article {
    display: block;
}
.container h2 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 34px;
    text-align: center;
    font-family: 微软雅黑;
    padding: 0px;
    margin: 0px 0px 45px;
}
.container .post .post-title {
    position: absolute;
    font-size: 24px;
    z-index: 9;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
}
.container .post .post-image {
    padding-top: 62.5%;
    position: relative;
    overflow: hidden;
}
.container .post .post-image a {
    width: 100%;
    display: block;
    background-color: #fff;
    margin-bottom: 0;
    padding: 12px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}
.container .post .post-image a img {
    display: block;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
img {
    border: none;
}


@media(max-width: 1200px){
	.lanmu1,.lanmu2{display: none;}
	.gengduo{display: block}
	.yilou,.sanlou{height: 550px;}
	.erlou{height: 350px;}
}
@media(max-width:1000px){
	.yilou,.erlou,.sanlou,.silou{height: 500px;}
	.yilou span{font-size: 40px}
}
@media(max-width:850px){
	.yilou,.sanlou,.silou{height: 450px;}
	.erlou{height: 300px;}
	.erlou .jutijianjie,.sanlou .jutijingli,.silou .jutijineng{font-size: 20px;}
	.yilou span{font-size: 36px}
}
@media(max-width:740px){
	.yilou,.sanlou,.silou{height: 400px;}
	.erlou{height: 250px;}
	.erlou .jutijianjie,.sanlou .jutijingli,.silou .jutijineng{font-size: 18px;}
	.yilou span{font-size: 32px}
}
@media(max-width:600px){
	.yilou,.sanlou,.silou{height: 350px;}
	.erlou{height: 200px;}
	.erlou .jutijianjie,.sanlou .jutijingli,.silou .jutijineng{font-size: 16px;}
}
